@font-face {
	font-family: Silkspace;
	src: url('../../fonts/silkscreen/slkscr.ttf');
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../../fonts/Roboto_Mono/RobotoMono-Light.ttf');
}

@font-face {
	font-family: 'PressStart';
	src: url('../../fonts/Press_Start_2P/PressStart2P-Regular.ttf');
}

@font-face {
	font-family: 'Roboto Bold';
	src: url('../../fonts/Roboto_Mono/RobotoMono-Bold.ttf');
}
