@import './vars.scss';

@import './fonts.scss';
@import './keyframes.scss';

* {
	margin: 0;
	padding: 0;
	color: $text-color;
	font-family: 'Roboto Mono';
}

body {
	background: url('../../images/sources/bg-pattern.png');
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
}

.error-holder {
	padding: 0;
	margin-bottom: 0.3em;
	color: $error;
	display: none;
	text-align: center;
}

.instructions-title {
	text-align: center;
}

.success-holder {
	text-align: center;
	padding: 0;
	margin-bottom: 0.3em;
	color: $success;
	display: none;
}

.centered {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 10%);
}



input[type="text"], input[type="password"] {
	padding: 0.5em;
	font-size: 22px;
	color: $text-color;
	margin-right: 0.5em;
	// background: lighten($play-area-color, 20%);
	background: #333333;
	outline: none;
	border: none;
}


.wrong {
	// border: 2px solid #FF0000;
	color: #FF0000;
}

.right {
	border: 2px solid #00FF00;
}

button {
	padding: 0.5em;
	font-size: 22px;
	color: $text-color;
	background: rgb(220, 161, 42);
	border: none;
	font-family: 'Roboto Bold';
}

button:hover {
	color: rgb(220, 161, 42);
	background: $text-color;
	cursor: pointer;
}

button:focus {
	outline: none;
}

button:disabled {
	background: darken(rgb(220, 161, 42), 15%);
	cursor: default;
}

button:disabled:hover {
	color: $text-color;
	background: darken(rgb(220, 161, 42), 15%);
}

h1 {
	font-family: 'PressStart';
}



#level-name {
	text-transform: uppercase;
	color: #FFF;
	margin: 0 auto;
	width: 995px;
	height: 93px;
	text-align: center;
	font-size: 28px;
	padding-top: 0.8em;
	font-family: 'PressStart';
	background: url('../../images/banner.png') no-repeat;
	user-select: none;

	.player-name {
		font-family: inherit;
	}
}

p{
	padding: 1em;
	font-size: 21px;
	width: 80%;
	margin: 0 auto;
}

.text-centered {
	text-align: center;
}

.instructions-p-holder {
	display: none;
}

#blur {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1600px;
	filter: blur(5px);
	opacity: 0.8;
	z-index: 99;
	background: #333333;
}

#level-instructions {
	z-index: 100;
	width: 90%;
	display: none;

	.encrypted-text {
		text-align: center;
		letter-spacing: 0.2em;
	}

	button {
		display: block;
		margin: 0 auto;
		margin-top: 1em;
	}
}

.modal-screen {
	background: darken($play-area-color, 3%);
	padding: 1em;
}

#game {

	padding: 1em;
	width: 95%;
	margin: 0 auto;

	#play-area {
		width: 100%;


		#header {
			text-decoration: none;
			padding: 1em 0;
			display: grid;
			place-content: center;
			grid-template-rows: 1fr;
			grid-template-columns: 6% 94%;
			grid-column-gap: 0;

			h1 {
				margin-top: 10px;
				float: left;
			}
		}

		#main-area {
			box-shadow: 0 0 10px rgba(0,0,0, 0.5);
			background: $play-area-color;
			padding-bottom: 2em;
			padding-top: 2em;
			display: none;

			.tasks-holder {
				margin: 0 auto;
				p {
					text-align: right;
				}

				width: 50%;

				.task {
					display: grid;
					grid-template-columns: repeat(2, 1fr);	
					grid-column-gap: 1em;
				}

				input[type="text"] {
					width: 80%;
					padding: 0.4em;
					font-size: 20px;
				}
			}

			.instructions-p {
				margin-top: 0.5em;
				text-decoration: underline;
				cursor: pointer;
			}

			.instructions-p:hover {
				color: darken($text-color, 50%);
			}

			.encrypted-text {
				letter-spacing: 0.3em;
			}

			.alphabet {
				margin: 1em auto;
				td {
					border: 1px solid #FFF;
					font-size: 25px;
					padding: 0.3em;

					input[type="text"] {
						width: 1em;
					}
				}
			}

			.actors-holder {
				display: grid;
				grid-template-rows: 1fr;
				grid-template-columns: repeat(3, 1fr);
			}

			.actor {
				width: 16px;
				height: 32px;
				background: url('../../images/tileset.png');
				position: relative;
				margin-top: 5em;
				margin-bottom: 3em;
				left: 50%;
				transform: scale(5, 5);
			}

			.main-actor {
				animation: actorIdle 0.5s steps(4) infinite; 
			}

			.crew-one-actor {
				width: 14px;
				animation: crewOne 0.5s steps(4) infinite;
			}

			.crew-two-actor {
				animation: crewTwo 0.5s steps(4) infinite;
			}

			.success-holder-area {
				display: none;
			}

			.start-game-block, .password-holder-area, .success-holder-area,
			.check-area {
				width: 100%;
				text-align: center;
				margin: 2em;
			}
		}

		#robots-area {
			display: none;
			margin-top: 1em;
			margin-bottom: 2em;
			text-align: center;

			#robots-background {
				margin: 0 auto;
				width: 1478px;
				height: 302px;
				background: url('../../images/ship/ship-01.png') no-repeat;
			}

			.crew {
				background: url('../../images/tileset.png');
				width: 16px;
				height: 32px;
				transform: scale(2, 2);
				position: relative;
			}

			.crew-1 {
				// left: 25%;
				// top: 100%;
				width: 14px;
				top: 65%;
				left: 8%;
				animation: crewOne 0.5s steps(4) infinite;
			}

			.crew-2 {
				left: 12%;
				top: 55%;
				// top: 97%;
				animation: crewTwo 0.5s steps(4) infinite;
			}
		}
	}

}

footer {
	background: #131313;
	text-align: center;
	grid-row-start: 2;
	grid-row-end: 3;
	color: $play-area-color;
}
